.widget {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
  margin: calc(var(--ring-unit) / 2);
}

.template-config-panel {
  margin-left: calc(var(--ring-unit) / 2) !important;
  margin-right: calc(var(--ring-unit) / 2) !important;
}

.template-toolbar {
  width: auto;
  gap: calc(var(--ring-unit) / 2);
  padding: calc(var(--ring-unit) / 2);
  border-bottom: 1px solid var(--ring-line-color);
  margin-left: calc(var(--ring-unit));
  margin-right: calc(var(--ring-unit));
  margin-bottom: calc(var(--ring-unit));
}

.template-list-panel {
  border-right: 1px solid var(--ring-line-color);
}

.template-edit-help {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit));
  margin-top: calc(var(--ring-unit));
}
.template-edit-help-content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
}

.template-edit-extra-info {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
  margin: calc(var(--ring-unit) / 2);
}

.template-edit-panel {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
  margin: calc(var(--ring-unit) / 2);
}

.template-edit {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
  margin: calc(var(--ring-unit) / 2);
}

.template-edit-valid-cond-list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) / 2);
}

.template-edit-field-panel {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) / 2);
}

.template-edit-panel-article-select {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: calc(var(--ring-unit));
  align-items: end;
}

.template-edit-actions {
  display: flex;
  gap: calc(var(--ring-unit) / 2);
}

.align-right {
  margin-left: auto;
}