.widget {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
  margin: calc(var(--ring-unit) / 2);
  height: 280px;
}

.article-template-config {
  display: flex;
  flex-direction: column;
}

.article-template-config-bottom-panel {
  padding: calc(var(--ring-unit) * 2) 0 0 0;
  margin-top: auto;
}